.card-favorite-game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  margin: 0.625rem 0 0.625rem 0;
  cursor: pointer;
  transition: transform 1s;
}

.card-favorite-game:hover {
  transform: scale(0.9);
  transition: transform 1s;
}

.card-favorite-game__img {
  height: 15.625rem;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.card-favorite-game__title {
  font-size: 0.9375rem;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  width: 100%;
  height: auto;
  padding: 0.625rem;
  background-color: var(--color-secondary);
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

@media only screen and (min-width: 540px) {
  .card-favorite-game {
    width: 25rem;
    margin: 0.625rem;
  }
}
