# THE VALUES ARE NOT REAL. THEY ARE AS AN EXAMPLE. ONLY VITE_API_URL IS REAL.

# API - GAMES

VITE_API_URL_XRAPID=https://free-to-play-games-database.p.rapidapi.com
VITE_API_KEY_XRAPID=a887654321msh112345678989f92p13147cjsnc85eaqwkjgfd
VITE_API_HOST_XRAPID=free-to-play-games-database.p.rapidapi.com

# FIREBASE

VITE_API_KEY_FIREBASE=3421SyDfr2j99123xCQWcTaWFpravHkRFj12345
VITE_AUTH_DOMAIN_FIREBASE=heroes-app-12345.firebaseapp.com
VITE_PROJECT_ID_FIREBASE=heroes-app-12345
VITE_STORAGE_BUCKET_FIREBASE=heroes-app-12345.appspot.com
VITE_MESSAGING_SENDER_ID_FIREBASE=321987654321
VITE_APP_ID_FIREBASE=1:321987654321:web:8644735d370f88fddf3587