.disk-game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  position: relative;
  padding: 0.625rem;
}

.disk-game__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 0.0625rem solid var(--color-gray);
  transition:
    opacity 1s,
    border-radius 1s;
}

.disk-game__img-circle {
  background-color: var(--color-secondary);
  height: 4.375rem;
  width: 4.375rem;
  border-radius: 50%;
  border: 0.0625rem solid var(--color-gray);
}

.disk-game__img:hover {
  opacity: 0.5;
  transition: opacity 1s;
}

.disk-game__img--open {
  border-radius: 0;
  transition: border-radius 1s;
}

.disk-game__information {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  max-height: 0;
  padding: 0 0.625rem 0 0.625rem;
  background-color: var(--color-secondary);
  overflow: hidden;
  transition: max-height 1s;
}

.disk-game__information--open {
  max-height: 62.5rem;
  transition: max-height 1s;
}

.disk-game__title {
  font-size: 1.875rem;
  color: var(--color-white);
  font-family: var(--font-montserrat);
  text-transform: uppercase;
  margin-bottom: 0.625rem;
  padding-top: 0.625rem;
}

.disk-game__description {
  font-size: 1.5625rem;
  color: var(--color-white);
  font-family: var(--font-montserrat);
  margin-bottom: 0.625rem;
}

.disk-game__genre,
.disk-game__platform,
.disk-game__published-by,
.disk-game__developed-by,
.disk-game__release-date {
  font-size: 1.25rem;
  color: var(--color-white);
  font-family: var(--font-montserrat);
  margin-bottom: 0.625rem;
}

.disk-game__genre-span,
.disk-game__platform-span,
.disk-game__published-by-span,
.disk-game__developed-by-span,
.disk-game__release-date-span {
  font-size: 0.9375rem;
  color: var(--color-white);
  font-family: var(--font-montserrat);
}

.disk-game__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  padding-bottom: 0.625rem;
}

.disk-game__link-official-website {
  width: auto;
  font-size: 0.9375rem;
  padding: 0.625rem;
  color: var(--color-white);
  background: var(--color-primary);
  text-decoration: none;
  border: none;
  text-align: end;
  font-family: var(--font-montserrat);
  letter-spacing: 0.0625rem;
  cursor: pointer;
  margin: 0.3125rem 0 0.3125rem 0;
}

.disk-game__link-official-website:hover {
  background-image: linear-gradient(
    to right,
    var(--color-black),
    var(--color-black) 16.65%,
    var(--color-primary) 49.95%,
    var(--color-secondary) 100%
  );
  animation: slidebg 2s linear infinite;
}

.disk-game__btn-favorite {
  width: auto;
  font-size: 0.9375rem;
  padding: 0.625rem;
  color: var(--color-white);
  background: var(--color-primary);
  text-decoration: none;
  border: none;
  text-align: end;
  font-family: var(--font-montserrat);
  letter-spacing: 0.0625rem;
  cursor: pointer;
  margin: 0.3125rem 0 0.3125rem 0;
}

.disk-game__btn-favorite:hover {
  background-image: linear-gradient(
    to right,
    var(--color-black),
    var(--color-black) 16.65%,
    var(--color-primary) 49.95%,
    var(--color-secondary) 100%
  );
  animation: slidebg 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes nospin {
  100% {
    transform: rotate(0deg);
  }
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

@media only screen and (min-width: 540px) {
  .disk-game {
    width: auto;
    margin: 0;
  }

  .disk-game__img {
    height: 25rem;
    width: 25rem;
  }

  .disk-game__information {
    width: 25rem;
  }
}

@media only screen and (min-width: 1024px) {
  .disk-game {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
