.slide-button-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 5rem;
  height: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 2rem;
}

.slide-button-list__btn {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--white-color);
  border: none;
  cursor: pointer;
}

.slide-button-list__btn--active {
  background-color: var(--primary-color);
}
