.main-games-page {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  width: 100%;
  height: auto;
  min-height: 80vh;
  padding: 1rem;
  background-color: var(--primary-color);
  padding-top: 7rem;
}

.games-page-options {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
}

.games-page-options__title {
  font-size: 3rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
}

.all-games {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 1rem;
  width: 100%;
  height: auto;
}

.all-games__title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.all-games__title-text {
  font-size: 3rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
}

.all-games__not-games {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  min-height: 65vh;
}

.all-games__not-games-label {
  font-size: 4rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .main-games-page {
    grid-template-columns: 30% 70%;
  }

  .games-page-options {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1920px) {
  .all-games {
    height: 75rem;
    width: 80%;
    overflow-y: scroll;
  }
}
