.carousel-games {
  height: 21.875rem;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.carousel-games::before,
.carousel-games::after {
  background: linear-gradient(to right, var(--color-primary) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.carousel-games::before {
  left: 0;
  top: 0;
}

.carousel-games::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.carousel-games__name {
  position: absolute;
  left: 0;
  top: 50%;
  color: var(--color-white);
  font-size: 2.5rem;
  font-family: var(--font-montserrat);
  z-index: 1000;
  text-transform: uppercase;
}

.carousel-games__track {
  display: flex;
  width: calc(31.25rem * 18);
  animation: scroll 40s linear infinite;
  margin-top: 3.125rem;
}

.carousel-games__track:hover {
  animation-play-state: paused;
}

.carousel-games__item {
  height: 18.75rem;
  width: 31.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9375rem;
  perspective: 12.5rem;
  cursor: pointer;
  position: relative;
}

.carousel-games__img {
  height: 15.625rem;
  width: 31.25rem;
  object-fit: cover;
  transition: transform 1s;
}

.carousel-games__img:hover {
  transform: translateZ(1.25rem);
  transition: transform 1s;
}

.carousel-games__btn-favorite {
  width: 40%;
  font-size: 0.9375rem;
  padding: 0.625rem;
  color: var(--color-white);
  background: var(--color-primary);
  border: none;
  box-shadow: rgba(var(--color-black-rgb), 0.35) 0 0.3125rem 0.9375rem;
  font-family: var(--font-montserrat);
  letter-spacing: 0.0625rem;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

.carousel-games__btn-favorite:hover {
  background-image: linear-gradient(
    to right,
    var(--color-black),
    var(--color-black) 16.65%,
    var(--color-primary) 49.95%,
    var(--color-secondary) 100%
  );
  animation: slidebg 2s linear infinite;
}

.carousel-games__item:hover .carousel-games__btn-favorite {
  opacity: 1;
  transition: opacity 1s;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-15.625rem * 9));
  }
}

@media only screen and (min-width: 1024px) {
  .carousel-games__name {
    font-size: 3.125rem;
  }
}
