.main-favorite-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
  height: auto;
  padding: 1rem;
  background-color: var(--primary-color);
  padding-top: 6rem;
  position: relative;
}

.favorite-games {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  margin: 1rem 0 1rem 0;
}

.favorite-games__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  min-height: 65vh;
}

.favorite-games__empty-label {
  font-size: 4rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
  text-align: center;
}
