.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  background-color: var(--color-secondary);
  padding: 0 0 3.125rem 0;
}

.footer-wrapper__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 80%;
  height: auto;
}

.footer-wrapper__icon {
  font-size: 1.875rem;
  color: var(--color-white);
  cursor: pointer;
  transition: color 1s;
}

.footer-wrapper__icon:hover {
  color: var(--color-primary);
  transition: color 1s;
}
