.header-presentation {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 5rem;
  font-size: 3rem;
  color: var(--white-color);
  width: 100%;
  background-color: rgba(var(--black-int-color), 0.7);
  padding: 2rem;
  font-family: var(--font-montserrat);
}
