.carousels {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: auto;
  width: 100%;
  background-color: var(--primary-color);
  position: relative;
}

.carousel-games {
  height: 35rem;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.carousel-games::before,
.carousel-games::after {
  background: linear-gradient(
    to right,
    var(--primary-color) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.carousel-games::before {
  left: 0;
  top: 0;
}

.carousel-games::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
